#cloud-config
# Update apt database on first boot
apt_update: true
# Upgrade the instance on first boot
apt_upgrade: true
# Add 10gen MongoDB repo
apt_sources:
 - source: "deb http://downloads-distro.mongodb.org/repo/ubuntu-upstart dist 10gen"
   keyid: 7F0CEB10
   filename: 10gen.list
# Install packages
packages:
 - mongodb-10gen
